#stockSlider .slider-selection {
    background: #cc3333;
}
#bondSlider .slider-selection {
    background: #339933;
}
#fixedSlider .slider-selection {
    background: #333399;
}
#variableSlider .slider-selection {
    background: #ff3366
}
#floorSlider .slider-selection {
    background: #6633ff;
}
